#paperTitle{
padding-left: 8%;
}



#root{
    content: "";
    background: url("https://i.imgur.com/cnkw9zW.jpg") no-repeat fixed center;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}
/* https://i.imgur.com/cnkw9zW.jpg */
/* https://i.imgur.com/ZJ2Qgdr.jpg */